@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');



*{
    box-sizing: border-box;
    margin: 0auto;
    font-family: 'Noto Sans KR', sans-serif;
    place-items: center;
    text-align: center;
}

.main{
    text-align: center;
}


section{
    text-align: center;
    place-items: center;
    margin: 30px;
    align-content: center;
}

table{
    align-items: center;
    margin: 0 auto;
    text-align: center;
   	border: 1px solid #444444;
    border-collapse: collapse;
    width:30%;
    padding: 10px;
}

.comment{
	align-items: center;
    margin: 0 auto;
    text-align: center;
   	border-radius: 2rem;
    border-collapse: collapse;
    width:30%;
    padding: 10px;
}


th{
	font-size: medium;
}


th,td{
    border-bottom: 1px solid #444444;
    padding: 10px;

}

textarea {
    width: 100%;
    height: 6.25em;
    border: none;
    resize: none;
  }

.focused-input{
	height: 40%
}

.content {
	width:200px;
	height:200px;
}

.btn{
	margin: 10px;
}



a:link { color: black; text-decoration: none;}
a:visited { color: black; text-decoration: none;}
a:hover { color: purple; text-decoration: underline;}

