@charset "UTF-8";
@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');

*{
    box-sizing: border-box;
    margin: 0auto;
    font-family: 'Noto Sans KR', sans-serif;
    place-items: center;
    text-align: center;
}

.main{
    text-align: center;
}


section{
    text-align: center;
    place-items: center;
    margin: 30px;
}

table{
    align-items: center;
    margin: 0 auto;
    text-align: center;
    border-top: 1px solid #444444;
    border-collapse: collapse;
    width:400px;
}


th,td{
    border-bottom: 1px solid #444444;
    padding: 10px;

}

.button_base {
    margin: 0;
    border: 0;
    font-size: 13px;
    position: relative;
    top: 50%;
    width: 70px;
    height: 40px;
    text-align: center;
    box-sizing: border-box;
    cursor: default;
    padding: 10px;
}

.button_base:hover {
    cursor: pointer;
}


.b_butoon {
    color: #000000;
    border: #000000 solid 1px;
    padding: 10px;
    background-color: #FFECD9;
    margin:5px;
}

 .b_butoon:hover {
        color: #ffffff;
        background-color: #000000;
    }





a:link { color: black; text-decoration: none;}
a:visited { color: black; text-decoration: none;}
a:hover { color: purple; text-decoration: underline;}

