@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');

*{
    box-sizing: border-box;
    margin: 0auto;
    font-family: 'Noto Sans KR', sans-serif;
    place-items: center;
    text-align: center;
}

.main{
    text-align: center;
}


section{
    text-align: center;
    place-items: center;
    margin: 30px;
}

table{
    align-items: center;
    margin: 0 auto;
    text-align: center;
    border-top: 1px solid #444444;
    border-collapse: collapse;
    width: 30%;
}

th{
	background-color: rgb(249,242,266);
}


th,td{
    border-bottom: 1px solid #444444;
    padding: 10px;

}



a:link { color: black; text-decoration: none;}
a:visited { color: black; text-decoration: none;}
a:hover { color: purple; text-decoration: none;}

